​:root {
  --angle: 45deg;
  --opacity: 0.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.font-face-gm {
  font-family: "SF";
}
.rainbow {
  border-radius: 1px;
  padding: 2rem;
  margin: auto;
  transform: rotate(45deg);
  display: grid;
  place-content: center;
  text-align: center;

  font-size: 0.5em;

  --border-size: 0.155rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #32fff9 0deg 90deg,
      #102941 90deg 180deg,
      #0867a4 180deg 270deg,
      #05acff 270deg 360deg
    )
    1 stretch;
}

/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      --opacity: 1;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .rainbow {
    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
  }

  /* Hide the warning */
  .warning {
    display: none;
  }
}

.content {
  position: absolute;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px,
    rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;
  width: 100%;
  height: 48%;
  top: 20%;
  display: flex;
  flex-direction: column;
  color: white;
  backdrop-filter: blur(10px);
}

.overlay {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #19b2ff38;
  /* background-color: #000000cc; */
}






.hernu {
  border-radius: 0.2px;
  padding: 2rem;
  margin: auto;
  display: grid;
  text-align: center;
z-index: -1;
  font-size: 0.5em;

  --border-size: 0.05155rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #32fff9 0deg 90deg,
      #102941 90deg 180deg,
      #0867a4 180deg 270deg,
      #05acff 270deg 360deg
    )
    1 stretch;
}

/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      --opacity: 0.3;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .hernu {
    animation: rotate 1s linear infinite, opacityChange 3s infinite alternate;
  }

  /* Hide the warning */
  .warning {
    display: none;
  }
}
